@import "react-datepicker/dist/react-datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyFont';
  src: url('./shokakisarari/shokakisarari.ttf') format('truetype');
}

@font-face {
  font-family: 'MyHeaderFont';
  src: url('./courgette/Courgette.ttf') format('truetype');
}
body{
  font-family: 'MyFont', sans-serif;
  /* background-color: #0dfff7; */
  background-color: #faf7f4;
}
.myFont {
  font-family: 'MyFont', sans-serif;
}

.myHeaderFont{
  font-family: 'MyHeaderFont', sans-serif;
}
